
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a {text-decoration: none}


.button {
  border-radius: 100px;
}


/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  margin-top:180px;
  } /* this should  the height of the navigation so the content is not hidden under the fixed nav*/



  .phones {
    position: relative;
  }
  .phone {
    position: relative;
    max-width: 80%;
    margin: 3rem auto -12rem;
  }
  .phone + .phone {
    display: none;
  }

  /* Values
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .values {
    background-image: url('/Frontend/Images/ciraMedical/values-bg.jpg');
    background-size: cover;
    color: #fff;
    padding-bottom: 5rem;
  }
  .value-multiplier {
    margin-bottom: .5rem;
    color: #11DFC7;
  }
  .value-heading {
    margin-bottom: .3rem;
  }
  .value-description {
    opacity: .8;
    font-weight: 300;
  }

  /* Help
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .get-help {
    border-bottom: 1px solid #ddd;
  }

  /* Categories
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .categories {
    background-image: url('/Frontend/Images/ciraMedical/values-bg.jpg');
    background-size: cover;
    color: #fff;
  }
  .categories .section-description {
    margin-bottom: 4rem;
  }


  /* Navigation layout
  ------------------------------*/

  nav .nav {
    position:fixed;
    z-index:1;
    background-color: lightgray;
    top:0;
    padding:35px 0;
    transition: all 0.3s;

    /*make sure to update the openNav padding and the hero attributes as well */
  }

  nav .nav.shrinkNav {
    padding:5px 0 !important;
    background-color: gray !important;
    transition: all 0.3s;
  }
  nav .nav.openNav {
    padding:35px 0 !important;
    transition: all 0.3s;
  }



  nav .mobile-menu {
    position:fixed;
    top:0;
    margin-left:-250px;
    background-color: white;
    width:250px;
    height:100%;
  }



  .search-bar {
    padding:10px 50px;
    background-color:white;
    height:80px;
    margin:0;
    position:fixed;
    top:0;
    z-index:1
  }
  .search-bar input[type='text']{
    width:100%;
    height:60px;
    border:0;
    background-color: #f9f9f9;
    font-size:22px;
  }
  .searchButton.service_brn {
    display:none;
  }


  .overlay {
    position: fixed;
    z-index: 2;
    top:0;
    width:100%;
    height:100%;
    background-color: gray;
    visibility: hidden;
  }


  /* Transitional elements
  ------------------------------*/
  .content {
    transition:all 0.3s;
  }


  nav .nav.moveNavVertically {

    top:80px;
    transition: all 0.3s;
  }


  .moveYourBody {
    animation-name: moveYourBody;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    overflow-x: hidden;
    width:100%
  }

  .verticalBody{

    padding-top:80px;
    transition: padding-top 0.3s;

  }


  .moveYourBodyOff {
    animation-name: moveYourBodyOff;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    overflow-x: hidden;
    width:100%
  }

  .overlayDisplay {


    animation-name: overlay;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    visibility: visible;
  }
  .overlayDisplayOff {

    animation-name: overlayOff;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;

  }




  /* Navigation dropdown
  --------------------------------*/


  nav .nav-items #NavigationSideBar ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*padding: 0 0 0 10px;*/
  }

  nav .nav-items #NavigationSideBar ul li {
    display: inline-table;
    margin: 10px;
  }

  nav .nav-items #NavigationSideBar ul li ul {
    display: none;
    white-space: nowrap;
    padding: 5px 5px 5px 5px;

    border: 1px solid #bebebe;
    border-bottom: 1px solid #b9b9b9;
    background: #fff;
    /*width: 250px;*/

    position: absolute;
    margin: 0px 0 0 -1%;
  }

  nav .nav-items #NavigationSideBar ul li:hover ul {

    display: block;

  }

  nav .nav-items #NavigationSideBar ul li ul li {
    display: block;
    padding: 10px;
    height:40px;
    margin: 0
  }




  /* Mobile navigation tree
  ---------------------------------------*/
  .mobile-menu .nav-items #NavigationSideBarMobile ul {
    list-style-type: none;
    padding:15px;
  }

  .mobile-menu .nav-items #NavigationSideBarMobile ul li {

    width: 100%;
  }
  .mobile-menu .nav-items #NavigationSideBarMobile ul li ul {
    margin: 0;
  }



  /*  mobile
  ------------------------------*/
  @media (min-width: 100px) {

    nav .nav-items #NavigationSideBar {
      display:none
    }
    nav .hamburger {
      display:block;
      padding: 0 10px 0 0;
    }
  }


  /* Larger than tablet */
  @media (min-width: 750px) {

    nav .nav-items #NavigationSideBar {
      display:inline-block
    }
    nav .hamburger  {
      display:none
    }
    .overlayDisplay {
      animation-name: none;
      display:none;
    }
    .moveYourBody {
      animation-fill-mode: initial;
      -ms-animation-fill-mode: backwards;
      animation-name: none;
    }
  }


  /* Animations */


  @keyframes moveYourBody {
    from {margin-left: 0;}
    to {margin-left: 250px;}

  }

  @keyframes moveYourBodyOff {
    from {margin-left: 250px;}
    to {margin-left: 0;}

  }

  @keyframes overlay {
    from {opacity: 0;}
    to {opacity: 0.6;}

  }

  @keyframes overlayOff {
    from {opacity: 0.6; visibility: visible; }
    to { opacity: 0; visibility: hidden;}

  }
